.main-container{
    display: flex;
    width: 100vw;
}

.mainContent{
    flex: 6;

    .widgets{
        display: flex;
        gap: 20px;
        padding: 1rem;
    }
    .charts{
        display: flex;
        gap: 20px;
        padding: 5px 20px;
    }
     .listContainer{
        display: flex;
        gap: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

     }
}